volumes/node-red/flows_raspiNeko.json
[{"id":"b9cbd5df.70dbb8","type":"tab","label":"sensortag to Azure IoT Hub"},{"id":"97dacd72.8e68","type":"tab","label":"WebCam to Azure Blob"},{"id":"b5f5cb12.3af7d8","type":"tab","label":"Get distance of STM-sensor"},{"id":"33926571.18230a","type":"tab","label":"Re:FReSH"},{"id":"fe3371bd.3ae1d","type":"subflow","name":"Send JSON to Azure IoT Hub","info":"","in":[{"x":70,"y":49,"wires":[{"id":"1fa3835f.9d833d"}]}],"out":[{"x":415,"y":360,"wires":[{"id":"c7e9578b.fa8fa8","port":0}]}]},{"id":"51ebcce0.88bba4","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"b751e73.8c47218","type":"debug","z":"b9cbd5df.70dbb8","name":"Log","active":true,"console":"false","complete":"true","x":739,"y":406,"wires":[]},{"id":"c7e9578b.fa8fa8","type":"azureiothub","z":"fe3371bd.3ae1d","name":"Azure IoT Hub","protocol":"amqp","x":322,"y":296,"wires":[[]]},{"id":"d4bb18f8.710228","type":"inject","z":"fe3371bd.3ae1d","name":"Send Payload","topic":"","payload":"{ \"deviceId\": \"device_raspi\", \"key\": \"NG89DMQmU81y5ItsUHw0ms5EVGgXn4lYlm6hw1OmhB4=\", \"protocol\": \"amqp\", \"data\": \"{tem: 25, wind: 20}\" }","payloadType":"json","repeat":"","crontab":"","once":true,"x":204,"y":402,"wires":[[]]},{"id":"4b8a7be1.817a14","type":"template","z":"fe3371bd.3ae1d","name":"Create JSON","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"deviceId\": \"device_raspi\", \"key\": \"NG89DMQmU81y5ItsUHw0ms5EVGgXn4lYlm6hw1OmhB4=\", \"protocol\": \"amqp\", \"data\": {{& payload}}}","x":189,"y":173,"wires":[["bac38dda.32988"]]},{"id":"6184e1f.8c19c2","type":"subflow:fe3371bd.3ae1d","z":"b9cbd5df.70dbb8","name":"","x":446,"y":406,"wires":[["b751e73.8c47218"]]},{"id":"bac38dda.32988","type":"json","z":"fe3371bd.3ae1d","name":"string to jason","x":265,"y":229,"wires":[["c7e9578b.fa8fa8"]]},{"id":"a368a9d3.6366b8","type":"sensorTag","z":"b9cbd5df.70dbb8","name":"","topic":"sensorTag","uuid":"34b1f7d55b8c","temperature":true,"humidity":true,"pressure":true,"magnetometer":true,"accelerometer":true,"gyroscope":true,"keys":true,"luxometer":false,"x":155,"y":140,"wires":[["2f95ec44.66d334"]]},{"id":"1fa3835f.9d833d","type":"json","z":"fe3371bd.3ae1d","name":"json to string","x":146,"y":110,"wires":[["4b8a7be1.817a14"]]},{"id":"95f9fa59.493d88","type":"delay","z":"b9cbd5df.70dbb8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":287,"y":273,"wires":[["a38b2d2e.4b782"]]},{"id":"2f95ec44.66d334","type":"switch","z":"b9cbd5df.70dbb8","name":"select","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"sensorTag/temperature","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":207,"y":209,"wires":[["95f9fa59.493d88"],[]]},{"id":"b87f129e.099ae","type":"function","z":"b9cbd5df.70dbb8","name":"temperature dummy data","func":"msg = {\n    \"topic\": \"sensorTag/temperature\",\n    \"payload\": {\n        \"object\": 23.4,\n        \"ambient\": 26.9\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":387,"y":58,"wires":[[]]},{"id":"1ae08e50.83d402","type":"inject","z":"b9cbd5df.70dbb8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":181,"y":57,"wires":[["b87f129e.099ae"]]},{"id":"a38b2d2e.4b782","type":"function","z":"b9cbd5df.70dbb8","name":"SensotTag to JSON","func":"msg = {\n    \"payload\": {\n        \"topic\": msg.topic,\n        \"payload\": msg.payload\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":361,"y":335,"wires":[["6184e1f.8c19c2"]]},{"id":"a95445b4.a731d8","type":"http request","z":"97dacd72.8e68","name":"Snapshot","method":"GET","ret":"txt","url":"http://localhost:8080/0/action/snapshot","tls":"","x":302.5,"y":91,"wires":[["49285fc6.50609","da46696f.957458"]]},{"id":"49285fc6.50609","type":"debug","z":"97dacd72.8e68","name":"","active":true,"console":"false","complete":"payload","x":485.5,"y":88,"wires":[]},{"id":"e45d9881.8ffe98","type":"inject","z":"97dacd72.8e68","name":"trigger","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":125.5,"y":88,"wires":[["a95445b4.a731d8"]]},{"id":"c4163188.d4f1f","type":"Save Blob","z":"97dacd72.8e68","name":"Azure Save Blob Storage","x":355.5,"y":286,"wires":[["47401d40.010834","11a57781.f70028"]]},{"id":"47401d40.010834","type":"debug","z":"97dacd72.8e68","name":"Log","active":true,"console":"false","complete":"payload","x":563,"y":283,"wires":[]},{"id":"7030daf3.a550b4","type":"inject","z":"97dacd72.8e68","name":"file name","topic":"","payload":"/root/motion/lastsnap.jpg","payloadType":"str","repeat":"","crontab":"","once":false,"x":127.5,"y":281,"wires":[["c4163188.d4f1f"]]},{"id":"2a9db1dd.472b7e","type":"exec","z":"97dacd72.8e68","command":"/bin/rm","addpay":true,"append":"/root/motion/*.jpg","useSpawn":"","timer":"","name":"remove","x":310.5,"y":416.5,"wires":[["e2de103f.0d262"],["e2de103f.0d262"],["e2de103f.0d262"]]},{"id":"6e486b7b.ddfc54","type":"inject","z":"97dacd72.8e68","name":"trigger","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":126,"y":421,"wires":[["2a9db1dd.472b7e"]]},{"id":"e2de103f.0d262","type":"debug","z":"97dacd72.8e68","name":"","active":true,"console":"false","complete":"payload","x":484,"y":413,"wires":[]},{"id":"8967dc15.3fd42","type":"template","z":"97dacd72.8e68","name":"file name","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/root/motion/lastsnap.jpg","x":128.5,"y":240,"wires":[["c4163188.d4f1f"]]},{"id":"da46696f.957458","type":"delay","z":"97dacd72.8e68","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":126.5,"y":169,"wires":[["8967dc15.3fd42"]]},{"id":"11a57781.f70028","type":"delay","z":"97dacd72.8e68","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":129,"y":355,"wires":[["2a9db1dd.472b7e"]]},{"id":"b9ad7794.19a1b8","type":"debug","z":"b5f5cb12.3af7d8","name":"","active":false,"console":"false","complete":"false","x":534.5,"y":313,"wires":[]},{"id":"7e49d40e.9373ec","type":"json","z":"b5f5cb12.3af7d8","name":"","x":231.5,"y":256,"wires":[["95217249.6f23b","2bd3ac63.f8fed4"]]},{"id":"95217249.6f23b","type":"function","z":"b5f5cb12.3af7d8","name":"Distance","func":"msg = {\"payload\": msg.payload.DTS}\nreturn msg;","outputs":1,"noerr":0,"x":284.5,"y":314,"wires":[["b9ad7794.19a1b8","90e5c368.c73a"]]},{"id":"214a3f93.93f77","type":"serial in","z":"b5f5cb12.3af7d8","name":"","serial":"51ebcce0.88bba4","x":188.5,"y":188,"wires":[["7e49d40e.9373ec","339bece3.521d04"]]},{"id":"339bece3.521d04","type":"debug","z":"b5f5cb12.3af7d8","name":"","active":false,"console":"false","complete":"false","x":528.5,"y":187,"wires":[]},{"id":"2bd3ac63.f8fed4","type":"debug","z":"b5f5cb12.3af7d8","name":"","active":false,"console":"false","complete":"true","x":514.5,"y":254,"wires":[]},{"id":"90e5c368.c73a","type":"switch","z":"b5f5cb12.3af7d8","name":"select","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"180","vt":"num","v2":"220","v2t":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":320.5,"y":390,"wires":[["ccc0f1ce.413b"],["61f1c259.34fe6c"]]},{"id":"da558380.3b7d","type":"debug","z":"b5f5cb12.3af7d8","name":"","active":false,"console":"false","complete":"false","x":678.5,"y":381,"wires":[]},{"id":"bc97465b.5551b8","type":"debug","z":"b5f5cb12.3af7d8","name":"","active":false,"console":"false","complete":"false","x":680.5,"y":439,"wires":[]},{"id":"ccc0f1ce.413b","type":"template","z":"b5f5cb12.3af7d8","name":"Shoot!","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Shoot!","x":471.5,"y":383,"wires":[["da558380.3b7d"]]},{"id":"61f1c259.34fe6c","type":"template","z":"b5f5cb12.3af7d8","name":"Do nothing","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Do nothing","x":485.5,"y":439,"wires":[["bc97465b.5551b8"]]},{"id":"d2284e0a.6577b","type":"debug","z":"33926571.18230a","name":"","active":false,"console":"false","complete":"false","x":436,"y":192,"wires":[]},{"id":"5777458d.92d3bc","type":"json","z":"33926571.18230a","name":"","x":133,"y":135,"wires":[["780d0da0.918254","42a37b4e.ce2ad4"]]},{"id":"780d0da0.918254","type":"function","z":"33926571.18230a","name":"Distance","func":"msg = {\"payload\": msg.payload.DTS}\nreturn msg;","outputs":1,"noerr":0,"x":186,"y":193,"wires":[["d2284e0a.6577b","cece9dbd.f4cab"]]},{"id":"fb99d63b.6140f8","type":"serial in","z":"33926571.18230a","name":"","serial":"51ebcce0.88bba4","x":90,"y":67,"wires":[["5777458d.92d3bc","1c44f0be.32548f"]]},{"id":"1c44f0be.32548f","type":"debug","z":"33926571.18230a","name":"","active":false,"console":"false","complete":"false","x":430,"y":66,"wires":[]},{"id":"42a37b4e.ce2ad4","type":"debug","z":"33926571.18230a","name":"","active":false,"console":"false","complete":"true","x":416,"y":133,"wires":[]},{"id":"cece9dbd.f4cab","type":"switch","z":"33926571.18230a","name":"select","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"180","vt":"num","v2":"220","v2t":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":222,"y":269,"wires":[["2209305c.cf911"],["7900b774.6a1e68"]]},{"id":"f5d953fa.146b8","type":"debug","z":"33926571.18230a","name":"","active":false,"console":"false","complete":"false","x":580,"y":260,"wires":[]},{"id":"e951b887.4c4498","type":"debug","z":"33926571.18230a","name":"","active":false,"console":"false","complete":"false","x":582,"y":318,"wires":[]},{"id":"2209305c.cf911","type":"template","z":"33926571.18230a","name":"Shoot!","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Shoot!","x":373,"y":262,"wires":[["f5d953fa.146b8","f3208feb.0727"]]},{"id":"7900b774.6a1e68","type":"template","z":"33926571.18230a","name":"Do nothing","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Do nothing","x":387,"y":318,"wires":[["e951b887.4c4498"]]},{"id":"f3208feb.0727","type":"http request","z":"33926571.18230a","name":"Snapshot","method":"GET","ret":"txt","url":"http://localhost:8080/0/action/snapshot","tls":"","x":125,"y":437,"wires":[["11fe4850.55ee38","49041d89.bb3d04"]]},{"id":"11fe4850.55ee38","type":"debug","z":"33926571.18230a","name":"","active":true,"console":"false","complete":"payload","x":577,"y":437,"wires":[]},{"id":"6791a072.99dce","type":"Save Blob","z":"33926571.18230a","name":"Azure Save Blob Storage","x":387,"y":566,"wires":[["314eabf5.088224","5ad6378.1fe39c8"]]},{"id":"314eabf5.088224","type":"debug","z":"33926571.18230a","name":"Log","active":true,"console":"false","complete":"payload","x":611.5,"y":566,"wires":[]},{"id":"c3ae1f41.4a2aa","type":"exec","z":"33926571.18230a","command":"/bin/rm","addpay":true,"append":"/root/motion/*.jpg","useSpawn":"","timer":"","name":"remove","x":288,"y":643.5,"wires":[["54e13a63.a86524"],["54e13a63.a86524"],["54e13a63.a86524"]]},{"id":"54e13a63.a86524","type":"debug","z":"33926571.18230a","name":"","active":true,"console":"false","complete":"payload","x":617.5,"y":650,"wires":[]},{"id":"78c557cd.9ad818","type":"template","z":"33926571.18230a","name":"file name","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/root/motion/lastsnap.jpg","x":285,"y":504,"wires":[["6791a072.99dce"]]},{"id":"49041d89.bb3d04","type":"delay","z":"33926571.18230a","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":129,"y":504,"wires":[["78c557cd.9ad818"]]},{"id":"5ad6378.1fe39c8","type":"delay","z":"33926571.18230a","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":128.5,"y":643,"wires":[["c3ae1f41.4a2aa"]]}]